.article {
}
.article-list {
    max-width: 1120px;
    margin: 0 auto;
    transform: translateY(-140px);
}
.article-list__item {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 50px;
    margin-bottom: 12.5rem;

    &:nth-child(2) {
        .article-item__picture {
            grid-column: 1 / 2 ;
            grid-row: 1 / 2;
        }
        .article-item__content {
            grid-column: 2 / 3 ;
        }
        .article-item__picture {
            margin: 0;
        }
    }

    &:last-child {
        margin-bottom: 4rem;
    }
}
.article-item__content {
    margin-top: 7.20rem;
    padding-left: 110px;
    position: relative;

    &::before {
        display: block;
        content: attr(data-number);
        font-size: 14rem;
        font-weight: 700;
        position: absolute;
        top: -135px;
        left: 0;
        color: rgba(255, 255, 255, .1);
    }
}
.article-content__subtitle {
}
.article-content__title {
    font-size: 2.8rem;
    margin-bottom: 1.6875rem;
}
.article-content__desc {
    font-size: 1rem;
    margin-bottom: 1.6875rem;
    line-height: 25px;
}
.article-content__link {
}
.article-item__picture {
    margin-left: auto;

    & img {
        object-fit: cover;
    }
}
@media screen and (max-width: 1200px) {
    .article-item__content {
        max-width: 500px;
    }
}
@media screen and (max-width: 960px) {
    .article-list__item {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;

        &:nth-child(2) {
            .article-item__picture {
                grid-column: 1 / 3 ;
                grid-row: 2 / 3;
            }
            .article-item__content {
                grid-column: 1 / 3 ;
            }
        }
        &:first-child img {
            object-position: bottom;
        }
    }
    .article-item__content {
        max-width: 100%;
    }

    .article-item__picture {
        margin: 0 auto;
        width: 100% !important;
        
        & img {
            display: block;
            width: 80%;
            margin: 0 auto;
        }
    }
}
@media screen and (max-width: 768px) {
    .article-list__item  {
        margin-bottom: 4rem;
    } 
    .article-item__content::before {
        font-size: 10rem;
        top: -110px;
    }
    .article-item__content {
        margin-top: 10rem;
        padding-left: 80px;
    }
}
@media screen and (max-width: 520px) {
    .article-list {
        transform: translateY(-98px);
    }
    .article-item__content {
        padding-left: 40px;
    }
    .article-item__content::before {
        top: -100px;
    }
    .article-item__picture img {
        height: 320px;
        width: 90%;
    }
}

@media screen and (max-width: 425px) {
    .article-item__content {
        padding-left: 0;
    }
    .article-item__picture img {
        width: 100%;
    }
}