.footer {
    margin-bottom: 7.5rem;
}
.footer-row {
    display: grid;
    grid-template-columns: 30% 30% 40%;
}
.footer-content {
    display: flex;
    flex-direction: column;
}
.footer-content__logo {
    margin-bottom: 1.5rem;
}
.footer-content__desc {
    font-weight: 700;
}
.footer-links {
    display: flex;
    justify-content: space-between;
    grid-column: 3 / 4;

}
.footer-list {
    list-style: none;
}
.footer-list__item {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
    &:first-child {
        margin-bottom: 1.5rem;
    }
}
.footer-item__title {
    color: var(--yellow);
}
.footer-item__link {
    color: var(--white);
    text-decoration: none;
    transition: color .3s ease;

    &:hover {
        color: var(--yellow);
    }
    &:active {
        color: var(--yellow-active);
    }
}
.footer-copyright {
    margin-top: auto;
    opacity: 50%;
}