.header {
    background-image: url('/images/header/bg.png');
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.header-nav {
}
.header-nav--logo {
}
.header-nav--list {
}
.header-nav--item {
}
.header-nav--link {
}
.header-account {
}