*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy', sans-serif;
    background-color: var(--bg);
    color: var(--white);
}
h1, h2, h3, h4 {
    margin: 0;
}
.container {
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-family: var(--title-font);
    font-size: 4rem;
    font-weight: 600;
    text-transform: capitalize;
}
.subtitle {
    display: inline-block;
    color: var(--yellow);
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    padding-left: 5.375rem;
    position: relative;

    &::before {
        content: '';
        width: 4rem;
        height: 2px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--yellow);
    }
}
.more {
    display: flex;
    column-gap: 0.625rem;
    color: var(--white);
    text-decoration: none;
    
    & span {
        display: inline-block;
        font-weight: 700;
        margin-top: 2px;
        
    }
}

@media screen and (min-width: 1920px) {
    .container {
        max-width: 1760px;
    }
}
@media screen and (max-width: 1024px) {
    .subtitle {
        font-size: 0.875rem;
    }
}
@media screen and (max-width: 910px) {
    .subtitle {
        margin-bottom: 0.475rem;
    }
}