*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy', sans-serif;
}
.container {
    max-width: 1760px;
    padding: 0 15px;
    margin: 0 auto;
}

@media screen and (max-width: 1300px) {
    .container {
        max-width: 1130px;
    }
}