:root {
    --bg: #0B1D26;
    --white: #ffffff;
    --yellow: #FBD784;
}

@font-face {
    font-family: 'Chronicle';
    src: url('/fonts/chronicle/ChronicleDisplay-Semi.woff2') format('woff2'),
        url('/fonts/chronicle/ChronicleDisplay-Semi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/gilroy/Gilroy-Medium.woff2') format('woff2'),
        url('/fonts/gilroy/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/gilroy/Gilroy-SemiBold.woff2') format('woff2'),
        url('/fonts/gilroy/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/gilroy/Gilroy-Bold.woff2') format('woff2'),
        url('/fonts/gilroy/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
